# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Pytest
.pytest_cache/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.swn

# OS-specific files
.DS_Store
Thumbs.db

# Packages
*.egg-info/
dist/
build/
